 <p>Address: <%= @restaurant.address %> </p><br>
<p>Category: <%= @restaurant.category %> </p><br><br>

<%= link_to 'Edit this restaurant', edit_restaurant_path %>
<%= link_to "Delete this restaurant", restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure?"}  %>
<%= link_to 'Go back to restaurants', restaurants_path %><br><br>

<h3>Reviews</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
  <p>Content: <%= review.content %><br></p>
  <p>Rating: <%= review.rating %></p>
  <% end %>
</ul>

<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>
